<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <p>電話番号</p>
        <%= @user.number %>
    </div>
    
    
        <p><%= link_to "ポイントを見る", pointview_user_path(@user) %></p>
        <p><%= link_to "ポイントを使う", pointspend_user_path(@user) %></p>
        <p><%= link_to "ログアウト", root_path %></p>
</div>